/* #region common */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* #endregion common */

/* #region universal */
body {
    font-family: "Montserrat", 'Helvetica Neue', sans-serif;
    max-width: 1440px;
}

main {
    background-color: #f6f5f3;
}

.logo {
    font-family: "Nerko One", cursive;
    font-weight: 1000;
    font-size: 1.5rem;
    padding: 1rem;
    color: #ff9614;
    text-shadow: 1px 1px grey;
}



.container {
    width: 80%;
    margin: auto;
}

/* #region video section */
#video_sect {
    .title_text {
        h5 {
            color: gray;
            font-weight: 200;
            padding: 1.5rem 0 .5rem;
        }

        h1 {
            color: #4e3969;
            padding-bottom: 2rem;
        }
    }

    .video {
        width: 100%;
        aspect-ratio: 16/9;
        border: none;
    }

    .card {
        padding: 2rem;
        background-color: white;
        box-shadow: 10px 10px 10px rgb(192, 192, 192);

        ul {
            display: flex;
            list-style: none;
            padding-top: 2.5rem;
            gap: 1rem;
        }
    }
}

/* #endregion video section */

/* #region social */
.social {
    display: flex;
    justify-content: space-around;
    padding: 4rem 0;

    .fa-facebook {
        color: rgb(0, 60, 255);
    }

    .fa-twitter {
        color: rgb(0, 191, 255);
    }

    .fa-instagram {
        color: rgb(255, 48, 83);
    }

    .fa-pinterest,
    .fa-youtube {
        color: red;
    }

    [class*="fa-"] {
        background-color: white;
        box-shadow: 10px 10px 10px rgb(192, 192, 192);
        padding: 10px;
        border-radius: 2rem;
    }

    .social_name {
        display: none;
    }



}

.adv {
    width: 100%;
    padding-bottom: 3rem;
}

/* #endregion social */

/* #region presentation */
.presentation {
    h2 {
        padding-bottom: 1rem;
    }

    hr {
        width: 20%;
        color: #ff9614;
    }

    .tiramisu_img {
        width: 400px;
        padding-top: 2rem;
        padding-left: 8rem;
    }

    p {
        padding: 2rem 0;
        line-height: 25px;
    }
}

/* #endregion presentation */

/* #endregion universal */

/* #region media-query max 768px  */
@media screen and (max-width: 768px) {

    /* #region header */
    .logo {
        text-align: center;
    }

    /* #endregion header */

    /* #region title */
    .title_text_md_lg {
        display: none;
    }

    /* #endregion title */

    /* #region video section */
    .card {
        ul {
            flex-direction: column;
        }
    }

    /* #endregion video section */

    /* #region social */
    .adv {
        display: none;
    }

    /* #endregion social */


}

/* #endregion media-query max-768px  */

/* #region media-query max-992px */
@media screen and (min-width: 768px) {

    /* #region video section */
    .card {
        ul {
            flex-wrap: wrap;
        }
    }

    /* #endregion video section */

    /* #region social */
    .social {
        [class*="fa-"] {
            padding: .5rem 3rem;
        }

    }

    /* #endregion social */
    .presentation {
        .tiramisu_img {
            padding-left: 0;
            padding-right: 1rem;
            float: left;
        }
    }
}

/* #region presentation */


/* #endregion presentation */

/* #endregion media-query max-992px */

/* #region media-query min-992px */
@media screen and (min-width: 992px) {

    /* #region video section */
    .video_card {
        display: flex;

        .video {
            width: 55%;
        }

        .card {
            width: 45%;
        }
    }

    /* #endregion video section */

    /* #region social */
    .social {
        [class*="fa-"] {
            padding: .7rem 2rem;
        }

        .social_name {
            display: inline;
            font-size: 12px;
            color: black;
        }
    }

    /* #endregion social */
    .presentation {
        .tiramisu_img {
            padding-left: 0;
            padding-right: 1rem;
            float: left;
        }
    }
}

/* #endregion media-query min-992px */